
@import url('../css/font.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /* tema warna font */
    --text-gray: #4e944f;
    --text-light: #83BD75;
    --bg-color: #557C55;
    --bold: #243D25;
    --white: #ffffff;
    --midnight: #B4E197;

    /* gradasi warna */
    --gradasi: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

    /* tema font-family */
    --Carter_One:'Carter_One',costum;
    --Inter:'Inter',costum;
    --Lato:'Lato',costum;
    --Lobster_Two:'Lobster_Two',costum;
    --Lora:'Lora',costum;

}

/*-------------Awal semua class-----------*/

a{
    text-decoration: none;
    color: var(--bold);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Inter);
    font-size: 2.8rem;
}

h2{
    font-family: var(--Inter);
}

h3{
    font-family: var(--Inter);
    font-size: 1.5rem;
}

button.btn{
    color: var(--bold);
    border: none;
    border-radius: 100rem;
    padding: 2rem, 3rem;
    font-size: 1rem;
    font-family: var(--Lato);
    cursor: pointer;
}

span{
    font-family: var(--Lato);
    color: var(--bold);
}

.container{
    margin: 05vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Inter);
    color: var(--bold);
}

/*-------------Akhir semua class----------*/

/*------------ Awal navbar--------------*/

.nav{
    background: white;
    padding: 0 02rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--midnight);
}

.collapse{
    height: 30rem;
}

div .nav-item{
    justify-content: center;
}
.nav .nav-item{
    display: flex;
    margin: 0;

}

.nav .nav-item .nav-link{
    background: var(--white);
    padding: 1.6rem 1rem;
    font-size: 1.1.rem;
    position: relative;
    font-family: var(--Inter);
    font-size: 1.1rem;
}

.nav .nav-item .nav-link a{
    color: var(--text-gray);
}

.nav .nav-item .nav-link:hover{
    background-color: var(--bold)
}

.nav .nav-item .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lato);
    font-size: 1.6rem;
}

.nav .nav-brand a:hover{
    color: var(--text-gray);
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0,2rem;
}

.nav .social:hover i{
    color: var(--text-gray);
}
/*-----------Akhir navbar------------------*/


/*----------------- AWAL MAIN CONCEPT --------------------*/


/*----- Akhir Site Title -----*/
main .site-title{
    background: url('../fotage/Background.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1,h3{
    margin-top: 3rem;
    margin: 1rem;
}

main .site-title .btn{
    font-size: 1.2rem;
    padding: 1.3rem;
    margin: 2rem;
    background: var(--gradasi);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/*----- Akhir Site Title -----*/

/*---------- Awal Blog Carousel -----------*/

main .blog{
    background: url('../fotage/coba2-01.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

main .blog-content .blog-title{
    padding: 1rem 0;
}

main .blog-content .blog-title:hover{
    background: var(--bold);
    color: var(--white);
}

main .blog-content .btn-blog{
    padding: .4rem 2rem;
    background: var(--gradasi);
    margin: .5rem;
}

main .blog-content .btn-blog:hover{
    background: var(--bg-color);
    color: var(--white);
    border-radius: none;
}

main .blog-content span{
    color: var(--white);
    margin-top: 0;
    font-size: 0.9rem;
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--midnight);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--text-gray);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
    background: transparent;
}

/*---------- Akhir Blog Carousel -----------*/

/*--------------- Awal Site Content ----------------*/

main .site-content{
    color: var(--bold);
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    margin-bottom: 5rem;
}

main .site-content .post-content > .post-image .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info a{
    color: var(--midnight);
    font-family: var(--Inter);
    font-size: 0.9rem;
    position: relative;
    bottom: 10%;
    left: 41rem;
}

main .site-content .post-content > .post-image .post-info a:hover{
    color: var(--bold);
    border-radius: none;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    margin-top: 5%;
    transition: all 1s ease;
    width: 100%;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0.5rem;
}

main .post-content .post-title a{
    font-family: var(--Lato);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn a{
    font-size: 1rem;
    color: var(--bold);
    border-radius: 0%;
    padding: .4rem 1rem;
    background: var(--gradasi);
}

.site-content .post-content .post-title .post-btn:hover a{
    font-size: 1rem;
    background: var(--bold);
    border: none;
    color: var(--white);
}

.site-content .pagination{
    justify-content: center;
    color: var(--bold);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0.3rem;
    font-family: var(--Lato);
}

.site-content .pagination .page{
    font-size: 1rem;
    padding: .6rem .9rem;
    color:var(--bold) ;
}

.site-content .pagination .page:hover{
    background: var(--bold);
    border-radius: none;
    color: var(--white);
}
/*--------------- Akhir Site Content ----------------*/

/*--------------- Awal Slide Bar ----------------*/
.site-content > .slidebar{
    margin-top: 5%;
    margin-left: 3rem;
}

.site-content > .category-list{
    margin-right: 5rem;
}

.site-content > .slidebar .category-list{
    margin-top: 3rem;
    font-family: var(--Inter);
}

.site-content > .slidebar .category-list .list-items{
    background: var(--gradasi);
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content > .slidebar .category-list .list-items a{
    color: var(--bold);
}

.site-content .slidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .slidebar .popular-post{
    margin-top: 3rem;
}

.site-content .slidebar .popular-post h2{
    padding-top: 10rem;
}

.site-content .slidebar .popular-post .post-title{
    padding: 1rem 0rem!important;
    bottom: 10rem!important;
    left: 2rem!important;
    border-radius: 0rem!important;
    background: var(--white)!important;
}

.site-content .slidebar .popular-post .post-title a{
    margin-bottom: 3%;
    font-size: 1rem;
}

.site-content .slidebar .newsletter{
    margin-bottom: 0;
    padding-top: 3rem;
}

.site-content .slidebar .newsletter .form-element{
    padding: 3rem 2rem;
}

.site-content .slidebar .newsletter .input-element{
    width: 80%;
    height: 1.8rem;
    padding: .3rem 1.5rem;
    font-family: var(--Inter);
    font-size: 1rem;
}

.site-content .slidebar .newsletter .form-btn{
    width: 100%;
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--gradasi);
}

.site-content .slidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .slidebar .popular-tags .tags .tag{
    background: var(--gradasi);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}
/*--------------- Akhir Slide Bar ----------------*/


/*----------------- AKHIR MAIN CONCEPT --------------------*/


/*--------------- Awal Footer ----------------*/

footer.footer{
    height: 100%;
    background: var(--bold);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1Fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container .about-us h2{
    color: var(--white);
}

footer.footer .container .about-us p{
    color: var(--bg-color);
}

footer.footer .container .newsletter h2{
    color: var(--white);
}

footer.footer .container .newsletter p{
    color: var(--bg-color);
}

footer.footer .instagram h2{
    color: var(--white);
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow p{
    color: var(--bg-color);
}

footer.footer .follow h2{
    color: var(--white);
}

footer.footer .follow div i{
    color: var(--bg-color);
    padding: 0.4rem;
}

footer.footer .rights{
    justify-content: center;
    color: var(--bg-color);
}

footer.footer .rights h4{
    font-family: var(--Inter);
    font-size: 0.9rem;
}
/*--------------- Akhir Footer ----------------*/

/* Viewport less then or equal to 1130px */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0%;
    }

    .site-content .slidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2,1fr);
    }

}

/* Viewport less then or equal to 1130px */

/* Viewport less then or equal to 750px */

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-item{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1,1fr) ;
    }
}

/* Viewport less then or equal to 750px */

/* Viewport less then or equal to 520px */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding: 1rem .9rem !important;
    }
    
    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% ;
    }
}
/* Viewport less then or equal to 520px */